.tiptap {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  hyphens: auto;
  padding-bottom: 24px;
  caret-color: #374151;
  padding-left: 2rem;
  padding-right: 2rem;
  color: inherit;
  background-color: transparent;

  :first-child {
    margin-top: 0;
  }

  /* focus states */
  &:focus {
    outline: none;
    box-shadow: none;
  }

  p {
    margin-bottom: 0.25rem;
  }
}

:root.dark .tiptap {
  caret-color: #e5e7eb;
}
