[build]
command = "pnpm -F @hypr/web build"
publish = "apps/web/dist/client"

[build.environment]
VITE_APP_URL = "https://hyprnote.com"
NODE_VERSION = "22"

[[edge_functions]]
function = "og"
path = "/og"

[images]
# https://docs.netlify.com/build/image-cdn/overview/#remote-path
remote_images = [
  "https://hyprnote\\.com/.*",
  "https://ijoptyyjrfqwaqhyxkxj\\.supabase\\.co/.*",
]
