# https://docs.netlify.com/build/configure-builds/overview/#definitions
[build]
base = "/"
command = "pnpm -F @hypr/web build"
publish = "apps/web/dist/client"

[functions]
directory = "apps/web/.netlify/v1/functions"

[build.environment]
VITE_APP_URL = "https://hyprnote.com"
NODE_VERSION = "22"

[images]
# https://docs.netlify.com/build/image-cdn/overview/#remote-path
remote_images = [
  "https://hyprnote\\.com/.*",
  "https://ijoptyyjrfqwaqhyxkxj\\.supabase\\.co/.*",
]
