[build]
command = "pnpm -F @hypr/web build"
publish = "dist/client"

[build.environment]
NODE_VERSION = "22"

[images]
# https://docs.netlify.com/build/image-cdn/overview/#remote-path
remote_images = [
  "https://hyprnote\\.com/.*",
]
