# https://docs.netlify.com/build/configure-builds/overview/#definitions
# We must set package="apps/web" in the UI
[build]
command = "pnpm -F @hypr/web build"
publish = "apps/web/dist/client"
ignore = "git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF apps/web packages/api-client packages/tiptap packages/ui packages/utils package.json pnpm-lock.yaml"

[build.environment]
VITE_APP_URL = "https://hyprnote.com"
VITE_APP_VERSION = "${COMMIT_REF}"
NODE_VERSION = "22"

[[redirects]]
from = "/blog/*/"
to = "/blog/:splat"
status = 301
force = true

[[redirects]]
from = "/docs/*/"
to = "/docs/:splat"
status = 301
force = true

[[redirects]]
from = "/changelog/*/"
to = "/changelog/:splat"
status = 301
force = true

[[redirects]]
from = "/legal/*/"
to = "/legal/:splat"
status = 301
force = true

[images]
# https://docs.netlify.com/build/image-cdn/overview/#remote-path
remote_images = [
  "https://hyprnote\\.com/.*",
  "https://ijoptyyjrfqwaqhyxkxj\\.supabase\\.co/.*",
]
