.tiptap {
  h1,
  h2 {
    color: #374151;
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0.25rem;
    min-height: 1.5rem;
    position: relative;
  }
}

.blog-editor .tiptap {
  h1 {
    font-size: 1.875rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 1.75rem;
    margin-bottom: 0.75rem;
  }

  h3 {
    color: #374151;
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
