.tiptap {
  p {
    color: #000000;
    margin-top: 0;
    margin-bottom: 0.25rem;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    min-height: 1.5rem;
    position: relative;
  }
}
