::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d5d5d5;
}
