app = 'hyprnote-slack-internal'
primary_region = 'sjc'

[build]
dockerfile = "Dockerfile"

[deploy]
strategy = 'bluegreen'

[env]
BUN_ENV = "production"

[[services]]
internal_port = 8080
protocol = "tcp"

[[services.tcp_checks]]
interval = "10s"
timeout = "2s"
grace_period = "5s"

[[vm]]
memory = '512mb'
cpu_kind = 'shared'
cpus = 1
