[package]
name = "tools"
version = "0.1.0"
edition = "2021"
rust-version.workspace = true

[dependencies]
clap = { workspace = true, features = ["derive"] }
image = "0.25"
pixelmatch = "0.1"
xcap = "0.0.14"
