Meeting Information:

```
{% if event %}Event: {{ event.name }}{% endif %}
{% if participants | length > 0 %}Participants:{% endif %}
{%- for participant in participants %}
- {{ participant.name }}{% if participant.name == config_profile.full_name %} (Me){% endif %}
{%- endfor %}
```

Pre-meeting Raw Note:

```
{{ pre_meeting_editor }}
```

In-meeting Raw Note:

```
{{ in_meeting_editor }}
```

Meeting Transcript:

```
{{ render_conversation(transcripts=transcripts, diarizations=diarizations) }}
```
