Here is the transcript:
```
{{ transcript | render_transcript }}
```

Here is the raw note:
```
{{ editor }}
```

Here are some key points when creating an enhanced note:
- The output should be in {{ config_general.language | render_language }}
- Professional terms are often in English. If there is no direct translation to {{ config_general.language | render_language }}, use the term in English.
- 

Here is the user's profile:
```
{{ config_profile | json_encode() }}
```