My profile:

```
{{ config_profile | json_encode() }}
```

Raw Note:

```
{{ final_editor }}
```

Meeting Information:

```
{{ render_event_and_participants(event=event, participants=participants) }}
```

Meeting Transcript:

```
{{ render_conversation(transcripts=transcripts, diarizations=diarizations) }}
```
