{
  "openapi": "3.1.0",
  "info": {
    "title": "Hyprnote API",
    "description": "Development documentation",
    "version": "1.0.0"
  },
  "tags": [
    {
      "name": "private"
    },
    {
      "name": "public"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {}
  },
  "servers": [
    {
      "url": "https://api.hyprnote.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:4000",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "responses": {
          "200": {
            "description": "result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "operationId": "getHealth",
        "tags": [
          "private-skip-openapi"
        ],
        "parameters": []
      }
    },
    "/billing/start-trial": {
      "post": {
        "responses": {
          "200": {
            "description": "result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "started": {
                      "type": "boolean"
                    },
                    "reason": {
                      "type": "string",
                      "enum": [
                        "started",
                        "not_eligible",
                        "error"
                      ]
                    }
                  },
                  "required": [
                    "started"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "operationId": "postBillingStart-trial",
        "tags": [
          "private"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "interval",
            "schema": {
              "default": "monthly",
              "type": "string",
              "enum": [
                "monthly",
                "yearly"
              ]
            },
            "required": true
          }
        ]
      }
    },
    "/feedback/submit": {
      "post": {
        "responses": {
          "200": {
            "description": "Feedback submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "issueUrl": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "issueUrl": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "issueUrl": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "operationId": "postFeedbackSubmit",
        "tags": [
          "private-skip-openapi"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "bug",
                      "feature"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "minLength": 10
                  },
                  "logs": {
                    "type": "string"
                  },
                  "deviceInfo": {
                    "type": "object",
                    "properties": {
                      "platform": {
                        "type": "string"
                      },
                      "arch": {
                        "type": "string"
                      },
                      "osVersion": {
                        "type": "string"
                      },
                      "appVersion": {
                        "type": "string"
                      },
                      "gitHash": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "platform",
                      "arch",
                      "osVersion",
                      "appVersion",
                      "gitHash"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "type",
                  "description",
                  "deviceInfo"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/file-transcription/start": {
      "post": {
        "responses": {
          "200": {
            "description": "Pipeline started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipelineId": {
                      "type": "string"
                    },
                    "invocationId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "pipelineId",
                    "invocationId"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid fileId"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "operationId": "postFile-transcriptionStart",
        "tags": [
          "private"
        ],
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fileId": {
                    "type": "string"
                  },
                  "pipelineId": {
                    "type": "string"
                  }
                },
                "required": [
                  "fileId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/file-transcription/status/{pipelineId}": {
      "get": {
        "responses": {
          "200": {
            "description": "Pipeline status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "QUEUED",
                        "TRANSCRIBING",
                        "TRANSCRIBED",
                        "LLM_RUNNING",
                        "DONE",
                        "ERROR"
                      ]
                    },
                    "transcript": {
                      "type": "string"
                    },
                    "llmResult": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "operationId": "getFile-transcriptionStatusByPipelineId",
        "tags": [
          "private"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pipelineId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/file-transcription/result/{pipelineId}": {
      "get": {
        "responses": {
          "200": {
            "description": "Pipeline result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "QUEUED",
                        "TRANSCRIBING",
                        "TRANSCRIBED",
                        "LLM_RUNNING",
                        "DONE",
                        "ERROR"
                      ]
                    },
                    "transcript": {
                      "type": "string"
                    },
                    "llmResult": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "operationId": "getFile-transcriptionResultByPipelineId",
        "tags": [
          "private"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pipelineId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/rpc/can-start-trial": {
      "get": {
        "responses": {
          "200": {
            "description": "result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "canStartTrial": {
                      "type": "boolean"
                    },
                    "reason": {
                      "type": "string",
                      "enum": [
                        "eligible",
                        "has_active_subscription",
                        "had_recent_trial",
                        "error"
                      ]
                    }
                  },
                  "required": [
                    "canStartTrial"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "operationId": "getRpcCan-start-trial",
        "tags": [
          "private"
        ],
        "parameters": []
      }
    },
    "/webhook/stripe": {
      "post": {
        "responses": {
          "200": {
            "description": "result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "-"
          },
          "500": {
            "description": "-"
          }
        },
        "operationId": "postWebhookStripe",
        "tags": [
          "private-skip-openapi"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "stripe-signature",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ]
      }
    },
    "/webhook/slack/events": {
      "post": {
        "responses": {
          "200": {
            "description": "result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "-"
          },
          "500": {
            "description": "-"
          }
        },
        "operationId": "postWebhookSlackEvents",
        "tags": [
          "private-skip-openapi"
        ],
        "parameters": []
      }
    }
  }
}