{
  "openapi": "3.1.0",
  "info": {
    "title": "Hyprnote API",
    "description": "API for Hyprnote - AI-powered meeting notes application. APIs are categorized by tags: 'internal' for health checks and internal use, 'app' for endpoints used by the Hyprnote application (requires authentication), and 'webhook' for external service callbacks.",
    "version": "1.0.0"
  },
  "tags": [
    {
      "name": "internal",
      "description": "Internal endpoints for health checks and monitoring"
    },
    {
      "name": "app",
      "description": "Endpoints used by the Hyprnote application. Requires Supabase authentication."
    },
    {
      "name": "webhook",
      "description": "Webhook endpoints for external service callbacks"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Supabase JWT token"
      }
    },
    "schemas": {}
  },
  "servers": [
    {
      "url": "https://api.hyprnote.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:4000",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "operationId": "getHealth",
        "tags": [
          "internal"
        ],
        "parameters": [],
        "summary": "Health check",
        "description": "Returns the health status of the API server."
      }
    },
    "/billing/start-trial": {
      "post": {
        "responses": {
          "200": {
            "description": "result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "started": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "started"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "operationId": "postBillingStart-trial",
        "tags": [
          "internal"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "interval",
            "schema": {
              "default": "monthly",
              "type": "string",
              "enum": [
                "monthly",
                "yearly"
              ]
            },
            "required": true
          }
        ]
      }
    },
    "/chat/completions": {
      "post": {
        "responses": {
          "200": {
            "description": "Chat completion response (streamed or non-streamed)"
          },
          "401": {
            "description": "Unauthorized - missing or invalid authentication",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "unauthorized"
                }
              }
            }
          }
        },
        "operationId": "postChatCompletions",
        "tags": [
          "app"
        ],
        "parameters": [],
        "summary": "Chat completions",
        "description": "OpenAI-compatible chat completions endpoint. Proxies requests to OpenRouter with automatic model selection. Requires Supabase authentication.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "tools": {
                    "type": "array",
                    "items": {}
                  },
                  "tool_choice": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "none",
                          "auto",
                          "required"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "function"
                          },
                          "function": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "type",
                          "function"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  },
                  "stream": {
                    "type": "boolean"
                  },
                  "temperature": {
                    "type": "number"
                  },
                  "max_tokens": {
                    "type": "number"
                  }
                },
                "required": [
                  "messages"
                ],
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/rpc/can-start-trial": {
      "get": {
        "responses": {
          "200": {
            "description": "result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "canStartTrial": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "canStartTrial"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "operationId": "getRpcCan-start-trial",
        "tags": [
          "internal"
        ],
        "parameters": []
      }
    },
    "/listen": {
      "get": {
        "responses": {
          "101": {
            "description": "WebSocket upgrade successful"
          },
          "400": {
            "description": "WebSocket upgrade failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid authentication",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "unauthorized"
                }
              }
            }
          },
          "502": {
            "description": "Upstream STT service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "504": {
            "description": "Upstream STT service timeout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "operationId": "getListen",
        "tags": [
          "app"
        ],
        "parameters": [],
        "summary": "Speech-to-text WebSocket",
        "description": "WebSocket endpoint for real-time speech-to-text transcription via Deepgram. Requires Supabase authentication in production.",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/transcribe": {
      "post": {
        "responses": {
          "200": {
            "description": "Transcription completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metadata": {},
                    "results": {
                      "type": "object",
                      "properties": {
                        "channels": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "alternatives": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "transcript": {
                                      "type": "string"
                                    },
                                    "confidence": {
                                      "type": "number"
                                    },
                                    "words": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "word": {
                                            "type": "string"
                                          },
                                          "start": {
                                            "type": "number"
                                          },
                                          "end": {
                                            "type": "number"
                                          },
                                          "confidence": {
                                            "type": "number"
                                          },
                                          "speaker": {
                                            "anyOf": [
                                              {
                                                "type": "number"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          },
                                          "punctuated_word": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          }
                                        },
                                        "required": [
                                          "word",
                                          "start",
                                          "end",
                                          "confidence"
                                        ],
                                        "additionalProperties": false
                                      }
                                    }
                                  },
                                  "required": [
                                    "transcript",
                                    "confidence",
                                    "words"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "alternatives"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "channels"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "metadata",
                    "results"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid audio file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid authentication",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error during transcription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "502": {
            "description": "Upstream STT service error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "operationId": "postTranscribe",
        "tags": [
          "app"
        ],
        "parameters": [],
        "summary": "Batch speech-to-text transcription",
        "description": "HTTP endpoint for batch speech-to-text transcription via file upload. Supports Deepgram, AssemblyAI, and Soniox providers. Use query parameter ?provider=deepgram|assemblyai|soniox to select provider. Requires Supabase authentication.",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/webhook/stripe": {
      "post": {
        "responses": {
          "200": {
            "description": "Webhook processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing Stripe signature",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "missing_stripe_signature"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error during billing sync",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "operationId": "postWebhookStripe",
        "tags": [
          "webhook"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "stripe-signature",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Stripe webhook",
        "description": "Handles Stripe webhook events for billing synchronization. Requires valid Stripe signature."
      }
    }
  }
}