# https://supabase.com/docs/guides/deployment/ci/testing

on:
  push:
    branches:
      - main
    paths:
      - supabase/**
  pull_request:
    branches:
      - main
    branches-ignore:
      - "**/graphite-base/**"
    paths:
      - supabase/**

jobs:
  optimize_ci:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.check_skip.outputs.skip }}
    steps:
      - uses: actions/checkout@v4
      - id: check_skip
        uses: ./.github/actions/graphite_optimizer
        with:
          graphite_token: ${{ secrets.GRAPHITE_TOKEN }}

  tests:
    needs: optimize_ci
    if: needs.optimize_ci.outputs.skip == 'false'
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - uses: supabase/setup-cli@v1
        with:
          version: latest
      - run: supabase db start
      - run: supabase test db
