on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e-linux:
    uses: ./.github/workflows/desktop_build.yaml
    with:
      platform: linux
      target: x86_64-unknown-linux-gnu
      channel: staging
      features: devtools
      run_e2e: true
    secrets: inherit

  e2e-macos:
    uses: ./.github/workflows/desktop_build.yaml
    with:
      platform: macos
      target: aarch64-apple-darwin
      channel: staging
      features: devtools,automation
      run_e2e: true
    secrets: inherit
