# https://github.com/tauri-apps/tauri-action/blob/3013cac/examples/test-build-only.yml
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - apps/desktop/**
      - plugins/**
      - crates/**
      - .github/workflows/desktop_ci.yaml
  pull_request:
    branches:
      - main
    paths:
      - apps/desktop/**
      - plugins/**
      - crates/**
      - .github/workflows/desktop_ci.yaml
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: "macos"
            runner: "macos-15"
          - platform: "linux"
            runner: "ubuntu-24.04"
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/pnpm_install
      - uses: denoland/setup-deno@v2
      - run: pnpm -F ui build
      - run: pnpm -F desktop typecheck
      - run: pnpm -F desktop test
      - uses: ./.github/actions/install_desktop_deps
        with:
          target: ${{ matrix.platform }}
      - uses: ./.github/actions/rust_install
        with:
          platform: ${{ matrix.platform }}
      - run: swift --version
        if: matrix.platform == 'macos'
      - run: cargo check -p desktop
        if: matrix.platform == 'macos'
      - run: cargo test --lib
        env:
          CFLAGS: ${{ matrix.platform == 'macos' && '-DGGML_NO_I8MM=1' || '' }}
          CXXFLAGS: ${{ matrix.platform == 'macos' && '-DGGML_NO_I8MM=1' || '' }}
