# https://github.com/tauri-apps/tauri-action/blob/3013cac/examples/test-build-only.yml
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - apps/desktop/**
      - plugins/**
      - crates/**
      - Cargo.toml
      - Cargo.lock
  pull_request:
    branches:
      - main
    paths:
      - apps/desktop/**
      - plugins/**
      - crates/**
      - Cargo.toml
      - Cargo.lock
jobs:
  desktop_ci:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: "macos"
            runner: "depot-macos-15"
          - platform: "linux"
            runner: "depot-ubuntu-22.04-8"
          - platform: "linux"
            runner: "depot-ubuntu-24.04-8"
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/pnpm_install
      - uses: denoland/setup-deno@v2
      - run: pnpm -F ui build
      - run: pnpm -F desktop typecheck
      - run: pnpm -F desktop test
      - uses: ./.github/actions/install_desktop_deps
        with:
          target: ${{ matrix.platform }}
      - uses: ./.github/actions/rust_install
        with:
          platform: ${{ matrix.platform }}
      - run: cargo check -p desktop
      - run: cargo test -p desktop

  ci:
    if: always()
    needs: [desktop_ci]
    runs-on: ubuntu-latest
    steps:
      - run: exit 1
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
