on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - evals/**
      - go.mod
      - go.sum
  pull_request:
    branches:
      - main
    paths:
      - evals/**
      - go.mod
      - go.sum

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.5"
          cache: true
      - run: go vet ./evals/...
      - run: go install honnef.co/go/tools/cmd/staticcheck@latest
      - run: staticcheck ./evals/...
      - run: go build ./evals/cmd
