on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - crates/evals/**
      - Cargo.toml
      - Cargo.lock
  pull_request:
    branches-ignore:
      - "**/graphite-base/**"
    paths:
      - crates/evals/**
      - Cargo.toml
      - Cargo.lock

jobs:
  optimize_ci:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.check_skip.outputs.skip }}
    steps:
      - uses: actions/checkout@v4
      - id: check_skip
        uses: ./.github/actions/graphite_optimizer
        with:
          graphite_token: ${{ secrets.GRAPHITE_TOKEN }}

  ci:
    needs: optimize_ci
    if: needs.optimize_ci.outputs.skip == 'false'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "crates/evals -> target"

      - run: cargo build -p evals
      - run: cargo test -p evals
