on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  fmt:
    runs-on: depot-ubuntu-24.04-8
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/pnpm_install
      - uses: dprint/check@v2.3
        with:
          config-path: dprint.json
