name: openstatus

on:
  push:
    branches:
      - main
    paths:
      - openstatus.yaml
      - .github/workflows/openstatus.yaml

jobs:
  sync:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Homebrew/actions/setup-homebrew@master
      - run: brew install openstatusHQ/cli/openstatus --cask
      - run: openstatus monitors apply --access-token ${{ secrets.OPENSTATUS_API_KEY }}
