on:
  workflow_dispatch:
  push:
    paths:
      - "apps/restate/**"
    branches:
      - main

jobs:
  deploy:
    runs-on: depot-ubuntu-24.04-8
    timeout-minutes: 60
    concurrency: restate-cloudflare-deploy
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - uses: ./.github/actions/infisical_export
        id: secrets
        with:
          token: ${{ secrets.INFISICAL_TOKEN }}
          project-id: ${{ secrets.INFISICAL_PROJECT_ID }}
          folder: /restate
      # https://developers.cloudflare.com/workers/configuration/secrets/#via-wrangler
      - working-directory: apps/restate
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          SECRETS_JSON: ${{ steps.secrets.outputs.secrets }}
        run: |
          printenv SECRETS_JSON > /tmp/secrets.json
          npx wrangler secret bulk /tmp/secrets.json
          rm /tmp/secrets.json
      - uses: cloudflare/wrangler-action@v3
        id: upload
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: apps/restate
          packageManager: pnpm
          command: versions upload --message "commit ${{ github.sha }}"
      # https://docs.restate.dev/services/deploy/cloudflare-workers#ci/cd-automation
      - id: parse
        env:
          WRANGLER_OUTPUT: ${{ steps.upload.outputs.command-output }}
        run: |
          echo "version-id=$(echo "$WRANGLER_OUTPUT" | grep -oP 'Version ID:\s*\K[a-f0-9-]+')" >> $GITHUB_OUTPUT
          echo "deployment-url=$(echo "$WRANGLER_OUTPUT" | awk '/Version Preview URL:/ {gsub(/.*Version Preview URL: /, ""); print}')" >> $GITHUB_OUTPUT
      - working-directory: apps/restate
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        run: npx wrangler versions deploy ${{ steps.parse.outputs.version-id }}@100% -y
      - env:
          RESTATE_ADMIN_URL: ${{ secrets.RESTATE_ADMIN_URL }}
          RESTATE_AUTH_TOKEN: ${{ secrets.RESTATE_AUTH_TOKEN }}
        run: npx -y @restatedev/restate deployment register -y ${{ steps.parse.outputs.deployment-url }}
