on:
  workflow_dispatch:
  push:
    paths:
      - "apps/restate/**"
    branches:
      - main

jobs:
  deploy:
    runs-on: depot-ubuntu-24.04-8
    timeout-minutes: 60
    concurrency: restate-cloudflare-deploy
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - uses: ./.github/actions/infisical_export
        id: secrets
        with:
          token: ${{ secrets.INFISICAL_TOKEN }}
          project-id: ${{ secrets.INFISICAL_PROJECT_ID }}
          folder: /restate
      - id: upload
        working-directory: apps/restate
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          SECRETS_FILE: ${{ steps.secrets.outputs.secrets_file }}
        run: |
          OUTPUT=$(npx wrangler versions secret bulk "$SECRETS_FILE" --message "commit ${{ github.sha }}")
          rm -f "$SECRETS_FILE"
          echo "$OUTPUT"
          echo "version-id=$(echo "$OUTPUT" | grep -oP 'Version ID:\s*\K[a-f0-9-]+')" >> $GITHUB_OUTPUT
          echo "deployment-url=$(echo "$OUTPUT" | awk '/Version Preview URL:/ {gsub(/.*Version Preview URL: /, ""); print}')" >> $GITHUB_OUTPUT
      - working-directory: apps/restate
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        run: npx wrangler versions deploy ${{ steps.upload.outputs.version-id }}@100% -y
      - env:
          RESTATE_ADMIN_URL: ${{ secrets.RESTATE_ADMIN_URL }}
          RESTATE_AUTH_TOKEN: ${{ secrets.RESTATE_AUTH_TOKEN }}
        run: npx -y @restatedev/restate deployment register -y ${{ steps.upload.outputs.deployment-url }}
