on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Flathub
        run: bash scripts/setup-flathub.sh

      - name: Build Flatpak
        run: flatpak-builder --user --force-clean build-dir flatpak/com.hyprnote.app.yml
