# https://github.com/tauri-apps/tauri-action/blob/3013cac/examples/test-build-only.yml
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - apps/web/**
      - packages/**
  pull_request:
    branches:
      - main
    paths:
      - apps/web/**
      - packages/**
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: "macos"
            runner: "macos-14"
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/pnpm_install
      - uses: denoland/setup-deno@v2
      - run: pnpm -F ui build
      - run: pnpm -F web typecheck
